In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import itertools as it
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1466,tt0453467,75000000,180557550,DÃ©jÃ Vu,Denzel Washington|Paula Patton|Val Kilmer|Jim ...,Tony Scott,"If you think it's just a feeling, go back... a...",Called in to recover evidence in the aftermath...,126,Action|Thriller|Science Fiction,Jerry Bruckheimer Films|Scott Free Productions...,11/21/2006,6.5,2006,105557550
41,tt1655441,25000000,42629776,The Age of Adaline,Blake Lively|Michiel Huisman|Harrison Ford|Ell...,Lee Toland Krieger,Love is timeless.,After 29-year-old Adaline recovers from a near...,112,Fantasy|Drama|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,4/16/2015,7.3,2015,17629776
1591,tt0375679,6500000,98410061,Crash,Sandra Bullock|Don Cheadle|Matt Dillon|Michael...,Paul Haggis,You think you know who you are. You have no idea.,Los Angeles citizens with vastly separate live...,112,Drama,Blackfriars Bridge Films|Yari Film Group|Bob Y...,5/28/2004,7.1,2004,91910061
1247,tt2024432,35000000,173965010,Identity Thief,Jason Bateman|Melissa McCarthy|Jon Favreau|Ama...,Seth Gordon,She's having the time of his life,When a mild-mannered businessman learns his id...,111,Comedy|Crime,Stuber Productions|Aggregate Films|DumbDumb,2/7/2013,5.6,2013,138965010
1341,tt0358082,75000000,260696994,Robots,Robin Williams|Ewan McGregor|Halle Berry|Mel B...,Chris Wedge|Carlos Saldanha,You can shine no matter what you're made of.,Rodney Copperbottom is a young robot inventor ...,91,Animation|Comedy|Family|Science Fiction,Blue Sky Studios|Twentieth Century Fox Animation,3/11/2005,5.9,2005,185696994

In [3]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# Add the new column 'profit' to data frame 'data' and the values
data.profit = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.loc[(data.budget == data.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)' # "+"

In [9]:
data.loc[(data.runtime == data.runtime.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' # "+"
data.loc[(data.runtime == data.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110' # "+"
int(round(data.runtime.mean(),0))

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107' # "+"
int(round(data.runtime.median(),0))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале

answers['6'] = '239. Avatar (tt0499549)' # "+"
data.loc[(data.profit == data.profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' # "+"
data.loc[(data.profit == data.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '1478' # "+"
len(data.loc[(data.revenue > data.budget)])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = '599. The Dark Knight (tt0468569)' # "+"
data.loc[(data.revenue == data.revenue[(data.release_year == 2008)].max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' # "+"
data.loc[data.profit == data.profit[(data.release_year >= 2012)&(data.release_year <= 2014)].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' # "+"
collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
answers['12'] = 'Drama' # "+"
collections.Counter(data[(data.profit > 0)]['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
answers['13'] = 'Peter Jackson' # "+"
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
answers['14'] = 'Robert Rodriguez' # "+"
collections.Counter(data[data.genres.str.contains('Action')]['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
answers['15'] = 'Chris Hemsworth' # "+"
collections.Counter(data[data.revenue == data[(data.release_year == 2012)].revenue.max()]['cast'].str.cat(sep = '|').split('|')).most_common()

[('Robert Downey Jr.', 1),
 ('Chris Evans', 1),
 ('Mark Ruffalo', 1),
 ('Chris Hemsworth', 1),
 ('Scarlett Johansson', 1)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
answers['16'] = 'Matt Damon' # "+"
collections.Counter(data[(data.budget > data.budget.mean())]['cast'].str.cat(sep = '|').split('|')).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
answers['17'] = 'Action' # "+"
collections.Counter(data[data.cast.str.contains('Nicolas Cage')]['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
answers['18'] = '925. K-19: The Widowmaker' # "+"
data[(data.profit == data[data.production_companies.str.contains('Paramount Pictures')].profit.min())]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
answers['19'] = '2015' # "+"
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
answers['20'] = '2014' # "+"
warn_bros = data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['revenue'].sum()
warn_bros = warn_bros.to_frame().reset_index()
warn_bros[(warn_bros.revenue == warn_bros.revenue.max())].release_year

14    2014
Name: release_year, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
answers['21'] = '9 (сентябрь)' # "+"
data.release_date = data.release_date.str.split('/') # переводим значения в колонке release_date в список 
data.release_date = data.release_date.apply(lambda x:x[0]) # меняем значения в колонке release_date оставляя только месяц
data.groupby(['release_date'])['imdb_id'].count().sort_values(ascending=False).head(1)

release_date
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22'] = '450' # "+"
data.release_date = data.release_date.str.split('/') # переводим значения в колонке release_date в список
data.release_date = data.release_date.apply(lambda x:x[0]) # меняем значения в колонке release_date оставляя только месяц
data.query('release_date in ["6","7","8"]').imdb_id.count() # фильтруем данные только по летним месяцам

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
answers['23'] = 'Peter Jackson' # "+"
data.release_date = data.release_date.str.split('/')
data.release_date = data.release_date.apply(lambda x:x[0])
winter = data.query('release_date in ["12","1","2"]') # фильтруем данные только по зимним месяцам
collections.Counter(winter['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
answers['24'] = 'Four By Two Productions' # "+"
data['length'] = data.original_title.str.len() # создаем новую колонку length с данными длин названий фильмов
data.groupby(['production_companies'])['length'].max().sort_values(ascending=False).head(1)

production_companies
Twentieth Century Fox Film Corporation|Four By Two Productions    83
Name: length, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
answers['25'] = 'Midnight Picture Show' # "+"
data['length_overview'] = data.overview.apply(lambda x:len(x.split())) # создаем новую колонку length_overview с данными длин описаний фильмов
data.groupby(['production_companies'])['length_overview'].mean().sort_values(ascending=False).head(1)

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show    175.0
Name: length_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # "+"
data.original_title[data.vote_average.quantile(.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' # "+"
# создаем новую колонку cast_combined с данными комбинаций актеров по каждому фильму 
data['cast_combined'] = data.cast.str.split('|').apply(lambda x: list(it.combinations(sorted(x),2))) 
Counter(data.cast_combined.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

ВАРИАНТ 2

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9 (сентябрь)',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27